# Postgres Server Configuration
# Core Database Superuser
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432

# Homeserver Database, Langfuse Database, Mastra Database
DB_1_NAME=homeserver
DB_1_USER=homeserver
DB_1_PASSWORD=homeserver

DB_2_NAME=langfuse
DB_2_USER=langfuse
DB_2_PASSWORD=langfuse

DB_3_NAME=mastra
DB_3_USER=mastra
DB_3_PASSWORD=mastra

# Redis Server Configuration
REDIS_AUTH=myredissecret
REDIS_PORT=6379

# Clickhouse Server Configuration
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_PROTOCOL_PORT=9000

# Minio Server Configuration
MINIO_S3_PORT=9100
MINIO_CONSOLE_PORT=9101
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=miniosecret
MINIO_BUCKET_NAME=minio